---
layout: archive
title: "Selected Media Coverage"
permalink: /media/
author_profile: true
---

<p>CFA Digest: Cryptocurrency: A New Investment Opportunity. <a href="https://rpc.cfainstitute.org/research/cfa-digest/2019/01/dig-v49-n1-4">[Link]</a></p>
<p>Alpha Architect: Do Analysts Exploit Factor Anomalies when recommending stocks? <a href="https://alphaarchitect.com/do-analysts-exploit-factor-anomalies-when-recommending-stocks/">[Link]</a></p>
<p>《清华金融评论》2020年第7期：“分析师将价格推向何方?” </p>
<p>Are Sell-side Analysts' Recommendation Useful? CFA Society Singapore (Nov 20, 2018) <a href="#">[Link]</a></p>
<p>Academic Insights on Investing: Do Analysts Exploit Factor Anomalies when recommending stocks? <a href="https://alphaarchitect.com/do-analysts-exploit-factor-anomalies-when-recommending-stocks/">[Link]</a></p>




{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
