---
layout: archive
title: "Media Coverage"
permalink: /media/
author_profile: true
---

<p>Artificial Intelligence & Applied Economics (Undergraduate)</p>

<p>Asset Pricing Theory (Undergraduate/Graduate)</p>

<p>Financial Data Processing (Graduate)</p>

<p>Financial Engineering (Undergraduate)</p>

<p>FinTech (Graduate)</p>

<p>Frontiers in Asset Pricing Literature (Postgraduate)</p>

<p>Securities Investment: Theory and Empirical Analysis (Undergraduate)</p>



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
