---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


<h2>Selected Working Papers</h2>

<h3>“Joint News, Attention Spillover, and Market Returns” (with Lin Peng, Yubo Tao and Jun Tu)</h3>
<ul>
  <li>Revise & Resubmit, <em>Review of Financial Studies</em></li>
</ul>

<h3>“Do the Trades and Holdings of Market Participants Contain Information About Stocks? A Machine-Learning Approach” (with Victor DeMiguel, Bo Sang and Joe Zhang)</h3>
<ul>
  <li>Presented at UWFC and SFS Cavalcade NA 2025</li>
</ul>

<h3>“Decomposing Stock Factors” (with Wolfgang Karl Hardle, Yuqian Jin, Qingfu Liu and
Chuanjie Wang)</h3>
<ul>
  <li>Reject & Resubmit, <em>Review of Finance</em></li>
</ul>

<h3>“Identifying Information from Heterogeneous Investors” (with Bo Sang)</h3>
<ul>
  <li>Revise & Resubmit, <em>Journal of Banking and Finance</em></li>
</ul>

<h3>“The pollution premium in China” (with Xili Zhang, Ruiting Zhang and Donghui Li)</h3>
<ul>
  <li>Revise & Resubmit, <em>Journal of Banking and Finance</em></li>
</ul>

<h3>“Sentiment, Limited Attention and Mispricing” (with Xinrui Duan, Weikai Li and Jun Tu)</h3>
<ul>
  <li>Revise & Resubmit, <em>Journal of Economic Dynamics and Control</em></li>
  <li>EFMA 2019 Best Paper Award Nomination</li>
</ul>

<h3>“Media-based Inter-industry Network and Information Transmission” (with Weikai Li, Jun Tu and Yu Wang)</h3>
<ul>
  <li>The Best Paper Award at WRDS Advanced Research Scholar Program</li>
</ul>

<h3>“Does Trading Volume Mitigate or Amplify Mispricing” (with Xinrui Duan, Luyin Wang and Jun Tu)</h3>

<h2>Other Publications</h2>

<h3>“Stock Market Index Enhancement Via Machine Learning” (with Liangliang Zhang, Weiping Zhang)</h3>
<ul>
  <li>Forthcoming, <em>Emerging Markets Review</em></li>
</ul>

<h3>“Risk Analysis of Cryptocurrency as An Alternative Asset Class” (with Xiangjun Li)</h3>
<ul>
  <li>Published in Wolfgang Karl Härdle, Cathy Yi-Hsuan Chen and Ludger Overbeck (Eds.), <em>Applied Quantitative Finance</em>, 2016, 3rd Edition (Chapter 16). Springer-Verlag Berlin Heidelberg</li>
</ul>

<h3>“Evaluating the Potential of Alternative Cryptocurrencies” (with David Lee Kuo Chuen, Chong Eu Bobby Ong and Teik Ming Lee)</h3>
<ul>
  <li>Published in David Lee Kuo Chuen, <em>Handbook of Digital Currency – Bitcoin, Innovation, Financial Instruments, and Big Data</em>, 2014, 1st Edition (Chapter 5). Elsevier</li>
  <li>Presented at China 5th Annual Statistic Conference (2014)</li>
</ul>

<h3>“Textual Analysis and Machine Learning: Crack Unstructured Data in Finance and Accounting” (with Feng Shi and Jun Tu)</h3>
<ul>
  <li><em>Journal of Finance and Data Science</em> 2.3 (2016): 153-170</li>
  <li>Presented at China Securities Regulatory Commission (2016), School of Business and Economics, Humboldt-Universität zu Berlin (2016), and 2016 Conference on (Statistical) Machine Learning and Its Applications (Sichuan, China)</li>
</ul>

<h3>“Cryptocurrency: A New Investment Opportunity?” (with David Lee Kuo Chuen and Yu Wang)</h3>
<ul>
  <li>Leading Article. <em>The Journal of Alternative Investments</em> Winter 2018, 20 (3) 16-40 (Google Citation: 773)</li>
</ul>
