---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

===
Others

•	“Stock Market Index Enhancement Via Machine Learning” (with Liangliang Zhang, Weiping Zhang), Forthcoming, Emerging Markets Review
•	“Risk Analysis of Cryptocurrency as An Alternative Asset Class”  with Xiangjun Li (2016), Published in Wolfgang Karl Härdle, Cathy Yi-Hsuan Chen and Ludger Overbeck (Eds.), Applied Quantitative Finance 3rd Edition (Chapter 16). Springer-Verlag Berlin Heidelberg.’’
•	“Evaluating the Potential of Alternative Cryptocurrencies” with David Lee Kuo Chuen, Chong Eu Bobby Ong and Teik Ming Lee (2014). Presented at China 5th Annual Statistic Conference (2014). Published in David Lee Kuo Chuen, Handbook of Digital Currency –Bitcoin, Innovation, Financial Instruments, and Big Data, 1st Edition (Chapter 5). Elsevier.
•	“Textual Analysis and Machine Leaning: Crack Unstructured Data in Finance and Accounting” with Feng Shi and Jun Tu, The Journal of Finance and Data Science 2.3 (2016): 153-170. Presented at China Securities Regulatory Commission* (2016), School of Business and Economics, Humboldt-Universitt zu Berlin* (2016) and 2016 Conference on (Statistical) Machine Learning and Its Applications (Sichuan, China).
•	“Cryptocurrency: A New Investment Opportunity?” with David Lee Kuo Chuen and Yu Wang (2018). Leading article. The Journal of Alternative Investments Winter 2018, 20 (3) 16-40 (Google Citation: 686)



