---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Working Papers</h2>

<ul>
  <li>
    <strong>“Joint News, Attention Spillover, and Market Returns”</strong> (with Lin Peng, Yubo Tao and Jun Tu)<br/>
    - Revise & Resubmit, <em>Review of Financial Studies</em>
  </li>
  <li>
    <strong>“Do the Trades and Holdings of Market Participants Contain Information About Stocks? A Machine-Learning Approach”</strong> (with Victor DeMiguel, Bo Sang and Joe Zhang)<br/>
    - Submitted<br/>
    - Presented at UWFC, MFA and NFA, accepted to SFS Cavalcade NA 2025
  </li>
  <li>
    <strong>“Media-based Inter-industry Network and Information Transmission”</strong> (with Weikai Li and Jun Tu)<br/>
    - The Best Paper Award at WRDS Advanced Research Scholar Program 2019
  </li>
  <li>
    <strong>“Crypto-specific Lexicon, Sentiment Projection and Return Predictability of Cryptocurrency”</strong> (with Cathy Yi-Hsuan Chen and Thomas Renault)
  </li>
  <li>
    <strong>“Does Trading Volume Mitigate or Amplify Mispricing”</strong> (with Xinrui Duan, Luyin Wang and Jun Tu)
  </li>
  <li>
    <strong>“Optimizing Market Anomalies in China”</strong> (with Yu Wang and Xinrui Duan)
  </li>
  <li>
    <strong>“Sentiment, Limited Attention and Mispricing”</strong> (with Xinrui Duan, Weikai Li and Jun Tu)<br/>
    - Under Review<br/>
    - EFMA 2019 Best Paper Award Nomination
  </li>
  <li>
    <strong>“Identifying Information from Heterogeneous Investors”</strong> (with Bo Sang)<br/>
    - Reject and Resubmit, <em>Journal of Corporate Finance</em>
  </li>
  <li>
    <strong>“Decomposing Stock Factors”</strong> (with Wolfgang Karl Hardle, Yuqian Jin, Qingfu Liu and Chuanjie Wang)<br/>
    - Reject and Resubmit, <em>Review of Finance</em>
  </li>
  <li>
    <strong>“The Pollution Premium in China”</strong> (with Xili Zhang, Ruiting Zhang and Donghui Li)<br/>
    - Under Review
  </li>
</ul>

<h2>Other Publications</h2>

<ul>
  <li>
    <strong>“Stock Market Index Enhancement Via Machine Learning”</strong> (with Liangliang Zhang and Weiping Zhang)<br/>
    - Forthcoming, <em>Emerging Markets Review</em>
  </li>
  <li>
    <strong>“Risk Analysis of Cryptocurrency as An Alternative Asset Class”</strong> (with Xiangjun Li, 2016)<br/>
    - Published in Wolfgang Karl Härdle, Cathy Yi-Hsuan Chen and Ludger Overbeck (Eds.), <em>Applied Quantitative Finance 3rd Edition</em> (Chapter 16), Springer-Verlag Berlin Heidelberg
  </li>
  <li>
    <strong>“Evaluating the Potential of Alternative Cryptocurrencies”</strong> (with David Lee Kuo Chuen, Chong Eu Bobby Ong and Teik Ming Lee, 2014)<br/>
    - Published in David Lee Kuo Chuen, <em>Handbook of Digital Currency</em> (Chapter 5), Elsevier<br/>
    - Presented at China 5th Annual Statistic Conference (2014)
  </li>
  <li>
    <strong>“Textual Analysis and Machine Learning: Crack Unstructured Data in Finance and Accounting”</strong> (with Feng Shi and Jun Tu)<br/>
    - <em>Journal of Finance and Data Science</


