---
layout: archive
title: "Courses Taught"
permalink: /teaching/
author_profile: true
---

<h3>Artificial Intelligence & Applied Economics (Undergraduate)</h3>

<h3>Asset Pricing Theory (Undergraduate/Graduate)</h3>

<h3>Financial Data Processing (Graduate)</h3>

<h3>Financial Engineering (Undergraduate)</h3>

<h3>FinTech (Graduate)</h3>

<h3>Frontiers in Asset Pricing Literature (Doctoral Seminar)</h3>

<h3>Securities Investment: Theory and Empirical Analysis (Undergraduate)</h3>



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
